// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}
 
// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}
 
// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}
 
// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin title-text {
    font-weight: weight(bold);
    font-size: $lg-text;
    line-height: 1.2em;
    color: $text-color;
}

@mixin info-text {
    font-weight: weight(medium);
    font-size: $lg-text;
    line-height: 1.2em;
    color: $info-color;
}

@mixin small-info-text {
    font-weight: weight(medium);
    font-size: $md-text;
    line-height: 1.1em;
    color: $text-color;
}